/**
 * views.css
 *   Place in the same source directory as Main.java
 *   Ensure that your build system copies this file to your build output directory.
 */
#root {
	-fx-background-color: red;
}

#inputReadingView {
	-fx-background-color: aliceblue;
}

#viewAllReadingsView {
	-fx-background-color: coral;
}

.button {
	-fx-base: lightblue;
	-fx-font-size: 12px;
}